<a href="https://colab.research.google.com/github/rafcan1/python_class/blob/main/NLP_15_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Create a list by selecting items with odd indexes from the first list and
items with even indexes from the second list
Given two lists, l1 and l2, write a program that creates a third list, l3, by selecting
an odd-indexed element from l1 and an even-indexed element from l2.Expected Output:
l3 = [6, 15, 44, 3, 13, 21, 51]

In [5]:
l1 = [5, 6, 9, 15, 23, 44, 56]
l2 = [3, 8, 13, 16, 21, 34, 51]
odd_l1 = [x for i, x in enumerate(l1) if i % 2 != 0]
even_l2 = [x for i, x in enumerate(l2) if i % 2 == 0]
l3 = odd_l1 + even_l2
print(l3)

[6, 15, 44, 3, 13, 21, 51]

2.Slice the list into three equal parts and reverse each part
Expected Output:
Part 0 [5, 34, 8, 6]
After reversing part 0 [6, 8, 34, 5]
Part 1 [34, 22, 12, 32]
After reversing part 1 [32, 12, 22, 34]
Part 2 [67, 23, 43, 9]
After reversing part 2 [9, 43, 23, 67]

In [12]:
list = [5, 34, 8, 6, 34, 22, 12, 32, 67, 23, 43, 9]
reversed_1 = list[:4][::-1]
reversed_2 = list[4:8][::-1]
reversed_3 = list[8:][::-1]
print(reversed_1)
print(reversed_2)
print(reversed_3)

[6, 8, 34, 5]
[32, 12, 22, 34]
[9, 43, 23, 67]

3.Loop through the given list and verify if a specified element is present as a value in the dictionary's. If it isn't, remove the element from the list
Expected Output:
[44, 68, 55, 75]

In [15]:
numbers = [23, 44, 68, 33, 55, 14, 65, 75]
sample_dict = {'Jacob': 44, 'Rachel': 68, 'Bob': 55, 'Anna': 75}
filtered_numbers = [num for num in numbers if num in sample_dict.values()]
print(filtered_numbers)

[44, 68, 55, 75]

4.Create a string consisting of the first, middle and last character
Expected Output:
Jkb

In [16]:
sample_string = "Jackob"
first_char = sample_string[0]
middle_char = sample_string[len(sample_string) // 2]
last_char = sample_string[-1]
result = first_char + middle_char + last_char
print(result)

Jkb

5.In the given string, count all the letters, numbers and special symbols
Expected Output:
Chars = 8
Digits = 3
Symbols = 4

In [21]:
sample_string = "A@$gw47in^&j3te"
chars = 0
digits = 0
symbols = 0
for char in sample_string:
    if char.isalpha():
        chars += 1
    elif char.isdigit():
        digits += 1
    else:
        symbols += 1

print("Chars =", chars)
print("Digits =", digits)
print("Symbols =", symbols)

Chars = 8
Digits = 3
Symbols = 4

6.Count all occurrences of a substring in a given string, ignoring case, and find the last position of the given substring
Write a script that finds all occurrences of the word "POZNAN" in a given string, ignoring case.
Expected Output:
The POZNAN count is: 2, Last occurrence of POZNAN starts at index: 7

In [31]:
sample_string = "Welcome to Poznan. Did you know that the Warta River flows through poznan? "

substring = "Poznan"
count = sample_string.lower().count(substring.lower())
last_position = sample_string.lower().rfind(substring.lower())

print(f"The {substring.upper()} count is: {count}, Last occurrence of {substring.upper()} starts at index: {last_position}")

The POZNAN count is: 2, Last occurrence of POZNAN starts at index: 67