<a href="https://colab.research.google.com/github/rafcan1/python_class/blob/main/NLP_22_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Remove and add item in a list (1 point)
Write a program that removes the element located at index 2 and adds it to the
4th position and at the end of the list. Remember how list numbering looks like in
python, what number it starts with.
Expected Output:
List After removing element at index 2 [57, 34, 79, 93, 21]
List after Adding element at index 4 [57, 34, 79, 93, 24, 21]
List after Adding element at last [57, 34, 79, 93, 24, 21, 24]

In [27]:
list1 = [57, 34, 24, 79, 93, 21]
index_2 = list1[2]
list1.pop(2)
list1.insert(4, index_2)
list1.append(index_2)
print(list1)

[57, 34, 79, 93, 24, 21, 24]

2.Counting the occurrences of each element in the list (1 point)
Write a program that counts the occurrences of each element in a given list and
creates a dictionary showing the number of occurrences of each element.
Expected Output:
Count of each item {22: 2, 34: 2, 7: 3, 6: 1, 12: 1, 32: 1, 45: 1, 43: 1}

In [11]:
list = [22, 34, 7, 6, 34, 22, 12, 32, 7, 45, 43, 7]
dict = {}
for i in list:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1
print(dict)

{22: 2, 34: 2, 7: 3, 6: 1, 12: 1, 32: 1, 45: 1, 43: 1}

3.Create a Python set so that it displays an item from both lists in a pair of (1
point)
Expected Output (order not important):
{(5, 21), (1, 2), (8, 107), (6, 43), (4, 12), (7, 64), (3, 9)}

In [16]:
list1 = [1, 3, 4, 5, 6, 7, 8]
list2 = [2, 9, 12, 21, 43, 64, 107]
for i in range(len(list1)):
    list1[i] = (list1[i], list2[i])

print(list1)

[(1, 2), (3, 9), (4, 12), (5, 21), (6, 43), (7, 64), (8, 107)]

4.Create a new string consisting of the first, middle and last character of each
input string (1 point)
Expected Output:
IGaeye

In [17]:
s1 = "Italy"
s2 = "Greece"
s1[0] + s2[0] + s1[len(s1)//2] + s2[len(s2)//2] + s1[-1] + s2[-1]

'IGaeye'

5.Calculate the sum and average of the digits present in a string (1 point)
Expected Output:
Sum is: 29 Average is 4.833333333333333

In [18]:
sample_string = "Y0ever19$@#379"
sum = 0
count = 0
for i in sample_string:
    if i.isdigit():
        sum += int(i)
        count += 1
print("Sum is:", sum, "Average is", sum/count)

Sum is: 29 Average is 4.833333333333333

6.Split the string into words using a hyphen as a seperator (1 point)
Expected Output:
Bob
is
a
programmer
and
knows
python
very
well

In [26]:
sample_string = "Bob-is-a-programmer-and-knows-python-very-well"
new_str = sample_string.split("-")
for i in new_str:
    print(i)

Bob
is
a
programmer
and
knows
python
very
well